body{
    margin: 0;
    min-width:600px;
}
.header{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
#headerlogo{
    height: 60px;
    flex-shrink: 0;
}
#pagination{
    background-image: linear-gradient(to right, #164396, #0d56dd);
    display: flex;
    column-gap: 14px;
    width: 520px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding-right:10px;
    padding-left: 10px;
    border-radius: 30px;
}
.page{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
}
.page:hover{
    background-color: #2763d4;
    border-radius: 30px;
    border: 4px solid #2763d4;
    transition-duration: 250ms;
}
.booknowbutton{
    color: #164396;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border-radius: 20px;
}
#booknowbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #164396;
    padding-right:10px;
    padding-left: 10px;
    border-radius: 30px;
    width: 120px;
    height: 36px;
    margin-bottom: 6px;
}
.booknowbutton:hover{
    background-color: #2763d4;
    border-radius: 30px;
    border: 4px solid #2763d4;
    transition-duration: 250ms;
    color: white;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#teamtextdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#teamtext{
    margin: 0px;
    padding: 4px;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 52px;
}
#main1{
    padding:20px;
    border-top: 1px solid #164396;
    background-image: linear-gradient(to right, #164396, #0d56dd);
}
#gallerydiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.gallery {
    display: inline-block;
    border: 4px solid #ffffff;
    border-radius: 30px;
    margin: 4px;
    padding: 8px;
    animation-name: fadein; 
    animation-duration: 2s;
}
.gallery .description{
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 18px;
}
.gallery img{
    width: 200px;
    height: 200px;
    display: cover;
    object-fit: cover;
    border-radius: 30px;
    border: 4px solid white;
}
footer{
    background-color: #164396;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#footerlogo{
    height: 100px;
    flex-shrink: 0;
}
#footermaintext{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}
#pfooter{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 400;
    }
@keyframes fadein{
    0%{opacity: 0%}
    100%{opacity: 100%}
}